image: maven:3.9.6-eclipse-temurin-17

stages:
  - build
  - test

build:
  stage: build
  script:
    - mvn clean package -DskipTests

test:
  stage: test
  script:
    - mvn test
Add GitLab CI pipeline
